.conso-table-container {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    text-align: center;
    background-color: rgba(244, 244, 244, 0.85);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.download-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* Espace entre le sélecteur et les boutons */
}

.download-buttons button {
    margin-left: 10px; /* Espace entre les boutons */
}

.download-buttons button i {
    margin-right: 5px; /* Espace entre l'icône et le texte */
}


.alert-section {
    margin-top: 20px;
    text-align: center;
}

.alert-section input,
.alert-section select {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.alert-buttons {
    display: flex;
    justify-content: center; /* Centrer les boutons */
    margin-top: 10px; /* Espace au-dessus des boutons */
}

.alert-buttons button {
    margin: 0 10px; /* Espace entre les boutons */
}


.select-container button {
    margin-right: 50px; /* Ajuste la valeur selon tes préférences */
}


.select-container {
    margin-bottom: 20px;
    font-size: 16px;
}

.select-container label {
    margin-right: 10px;
}

.conso-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.conso-table th, .conso-table td {
    padding: 12px;
    border: 1px solid rgba(221, 221, 221, 0.85);
}

.conso-table th {
    background-color: rgba(76, 175, 80, 0.85);
    color: rgba(255, 255, 255, 0.85);
}

.conso-table tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.85);
}

.conso-table tr:hover {
    background-color: rgba(221, 221, 221, 0.85);
}

.loading-bar {
    font-size: 18px;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Loading animation styles */
.loading-animation {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}
.filter-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    margin-top: 5px;
    width: 200px; /* Ajustez la largeur selon vos besoins */
}

.filter-dropdown div {
    margin-bottom: 10px;
}

.filter-dropdown span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.filter-dropdown select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}

.ocean {
    position: relative;
    width: 200px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin-bottom: 10px; /* Space between the animation and text */
    opacity: 0; /* Start hidden */
    animation: fadeInOut 5s ease-in-out infinite; /* Apply fade-in/fade-out animation */
}

#octocat {
    height: 100%;
    width: 100%;
    background: url(https://raw.githubusercontent.com/codypearce/codepen-files/main/pens/octocat/octocat.png) left center;
    animation: animateSprite 15s steps(1) infinite, swim 15s ease-in-out infinite;
    position: absolute;
    right: -200px;
    top: 50%;
    margin-top: -150px;
    z-index: 100;
}

.alert-section {
    margin-top: 20px;
    text-align: center;
}

.alert-section input, .alert-section select {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.alert-section button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.alert-message {
    margin-top: 20px;
    color: #ff0000;
    font-weight: bold;
}


@keyframes animateSprite {
    0% {
        background-position: -600px; /* Starting position moving left sprite */
    }
    20% {
        background-position: 0px; /* Straight on sprite */
    }
    25% {
        background-position: -200px; /* Moving up sprite */
    }
    35% {
        background-position: -400px; /* Moving right sprite */
    }
    40% {
        background-position: -400px;
    }
    50% {
        background-position: -200px;  /* Moving up sprite */
    }
    60% {
        background-position: -0px; /* Straight on sprite */
    }
    67% {
        background-position: -600px; /* Moving up sprite */
    }
    100% {
        background-position: -600px;
    }
}

@keyframes swim {
    0% {
        transform: translate(0, 0); /* Starting position */
    }
    20% {
        transform: translate(calc(-50vw - 100px), 0); /* Animate to center of screen */
    }
    25% {
        transform: translate(calc(-50vw - 100px), 0); /* Stay at the center for 1 second */
    }
    35% {
        transform: translate(calc(-50vw - 100px), -20vh); /* Animate up for 2 seconds */
    }
    50% {
        transform: translate(-25vw, 15vh); /* Animate bottom right for 3 seconds */
    }
    60% {
        transform: translate(-25vw, -20vh); /* Animate up at right of the screen */
    }
    67% {
        transform: translate(-25vw, -20vh);
    }

    100% {
        transform: translate(calc(-100vw - 300px), 0); /* Animate past left past the screen */
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0; /* Start hidden */
    }
    50% {
        opacity: 1; /* Fully visible */
    }
    100% {
        opacity: 0; /* Fade out */
    }
}

.loading-text {
    font-size: 18px;
    color: black;
    background-color: #ffff;
    border-radius: 25px;
    font-weight: 500;
}

/* Responsive styles */
@media (max-width: 768px) {
    .conso-table-container {
        width: 100%;
        padding: 10px;
    }

    .select-container {
        font-size: 14px;
    }

    .conso-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .conso-table th, .conso-table td {
        padding: 8px;
        font-size: 14px;
    }
}


.filter-button {
    margin-right: 10px;
}

.filter-dropdown {
    position: absolute; /* Positionner le filtre par rapport à la fenêtre */
    background-color: white; /* Fond blanc pour le dropdown */
    border: 1px solid #ccc; /* Bordure */
    padding: 10px; /* Espacement interne */
    z-index: 10; /* S'assurer qu'il est au-dessus du tableau */
    max-width: 250px; /* Largeur maximale */
}

.filter-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurer que le modal est au-dessus de tout */
}

.filter-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Largeur maximale du modal */
    width: 100%; /* Prendre toute la largeur possible */
}

.filter-button {
    margin-right: 10px;
}

.select-container {
    position: relative;
}

.conso-table-container {
    margin-top: 20px;
}

.conso-table {
    width: 100%;
    margin-top: 10px;
}

.download-buttons {
    margin-top: 10px;
    
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.download-buttons {
    display: flex;
    gap: 10px;
}

.filter-button {
    margin-right: auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-button i {
    margin-right: 5px;
}

.download-buttons button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.download-buttons button i {
    margin-right: 5px;
}


.filter-option {
    margin-bottom: 20px; /* Ajoute de l'espace entre chaque option */
}

.filter-option select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%; /* Pour assurer que le select prend toute la largeur */
}

.filter-modal-content button {
    margin-right: 10px; /* Ajoute de l'espace entre les boutons */
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-modal-content button:last-child {
    margin-right: 0; /* Enlève la marge à droite du dernier bouton */
}

.filter-modal-content button:hover {
    background-color: #0056b3; /* Optionnel : changement de couleur au survol */
}


.filter-dropdown > div {
    margin-bottom: 10px; /* Ajoute de l'espace entre les lignes */
}




.filter-dropdown {
    padding: 15px; /* Ajoute de l'espace autour du contenu du modal */
}

.filter-dropdown > div {
    margin-bottom: 15px; /* Ajoute de l'espace entre les lignes de filtre */
}

.filter-dropdown button {
    margin-top: 10px; /* Ajoute de l'espace au-dessus des boutons */
    padding: 8px 12px; /* Ajuste le padding pour les boutons */
    cursor: pointer; /* Change le curseur au survol pour indiquer un clic */
}

.filter-dropdown span {
    display: block; /* Affiche chaque label sur une nouvelle ligne */
    font-weight: bold; /* Rend le texte du label plus visible */
}

.year-select-container {
    display: flex;
    align-items: center;
    gap: 1px; /* Réduit l'espace entre le label et la liste déroulante */
}

.year-select-container label {
    margin-right: 0; /* Assure qu'il n'y ait pas de marge supplémentaire entre le label et le select */
}

.year-select-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


@media (max-width: 768px) {
    .conso-table-container {
        padding: 10px; /* Réduit le padding pour les petits écrans */
    }
    
    .filter-dropdown {
        width: 100%; /* Utilise la largeur complète de l'écran */
        box-shadow: none; /* Enlève l'ombre pour un design plus plat */
    }

    .filter-dropdown > div {
        margin-bottom: 10px; /* Ajuste l'espacement pour les petits écrans */
    }

    .download-buttons {
        flex-direction: column; /* Aligne les boutons en colonne sur petits écrans */
    }

    .download-buttons button {
        margin-bottom: 10px; /* Ajoute de l'espace entre les boutons */
    }
}

